.App {
  text-align: center;
}

body {
  background-color: #d6d6d6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.asr-nav.navbar.navbar-expand.navbar-dark.bg-dark {
  background-color: #B71C1C !important;
}

.search-wrapper {
  padding-left: 30px;
  width: 100%;
  height: 45px;
  background-color: #B71C1C;
}

.asr-input {
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: white;
  border-radius: 0;
}

.asr-input:focus {
  background-color: transparent !important;
  border-color: transparent;
  border-bottom-color: white;
}

.asr-input::placeholder {
  color: white;
}

.asr-sidebar {
  margin-top: 101px;
  background-color: #B71C1C !important;
}

.mr-s {
  margin-right: 10px;
}

.mr-m {
  margin-right: 15px;
}

.w100 {
  width: 100% !important;
}

.form {
  padding-left: 35%;
  padding-right: 35%;
  text-align: left;
  margin-top: 30px;
}

.search-icon {
  position: absolute;
  margin-left: 5px;
  background-color: #B71C1C;
  height: 35px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  margin-top: 30px;
  margin-left: 30px;
}

.post {
  margin: 35px 30% 30px;
  overflow: hidden;
}

.post-text {
  overflow: hidden;
}

.alert {
  padding: .5rem 1rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1rem;
  background: rgba(255, 0, 0, .3);
  color: red;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30%;
}